:root{

    /* modo claro */

    --colorfondo: #F2F2F2;
    --colormenu: #591505;
    --colorletra: #fff;

    --fondomenu: #D99C79;
    --fondoletra: #000;

     --fondoplaca: #8c563773;

     --fondoseccion: #5B7BA6;

     --letrapagina: 'Titillium Web', sans-serif;

     --letratitulo: 'Kanit', sans-serif;;
    
 


}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: var(--colorfondo);
    color: var(--fondoletra);
    font-family: var(--letrapagina);
}

.icono{
       filter: invert(100%);
       width: 24px;
       height: 24px;
       position: relative;
       top: 5px;
       left: -5px;
     
      
}




nav{
    width: 100%;
    background-color: var(--colormenu) ;
    color: var(--colorletra);
    position: fixed; 
    top: 0;
   
}



nav ul{
    list-style: none;
    display: flex;

   

}
nav li{
    padding: 20px;
    transition: all 1s;
    
}
nav ul li a{
   
    padding: 15px;
    color: var(--colorletra);
    text-decoration: none;
    
   
    
}
nav ul li:hover{
    background: var(--fondomenu);
    color: var(--fondoletra);
}
nav ul li a:hover{
     color: var(--colorletra);
}


.contenedor{
    padding-top: 15px;
    width:95%;
    margin: auto;
    text-align: justify;
    margin-top: 5px;
}

p{
    margin: 16px 0;
    line-height: 150%;
}

footer{
    width: 100%;
    height: 50px;
    background-color: var(--colormenu) ;
    color: var(--colorletra);
    text-align: center;
    line-height: 50px;
    letter-spacing: 2px;
    margin-top: 50px;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url("../img/code1.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


.placa{
    width: 100%;
    height: 150px;
    position: absolute;
    top: 40vh;
    background-color: var(--fondoplaca) ;
  
}

.tituloPrincipal{
    font-family: var(--letratitulo);
    text-align: center;
    font-size: 40px;
    color: var(--colorletra);
    margin: 20px 0 auto;
}

.tituloSecundario{
    font-family: var(--letratitulo);
    text-align: center;
    font-size: 32px;
    color: var(--colorletra);
    margin: 10px 0 auto;
}

.texto{
    width: 100%;
    height: 100px;
    position: relative;
    top: 100px;
    background-color: rgba(170, 151, 111, 0.336);
    text-shadow: 5px 5px 20px cornsilk;
    }


.otro{
    font-size: 45px;
    color: #fff;
    margin: 40px auto;
}


.subir{
    width: 90px;
    height: 55px;
    background-color: #93b5c6;
    border: 2px solid #fff;
    border-radius: 5px;
    position: fixed;
    bottom: 55px;
    right: 15px;
    z-index: 101;
    
}


.subir span{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    text-shadow: 0 0 5px #000;
}

.consultas{
    width: 80%;
    margin: 20px auto;
}

.ingreso{
    width: 100%;
    padding: 5px;
    margin: 10px;
    
}

.btn{
  display: flex;
  gap: 20px;
  margin: 10px auto;
}


/* GALERIA DE IMAGENES */

.contenedor_franja{
    background-color: var(--fondoseccion);

}

.contenedor_galery{
    max-width: 1220px;
    margin: 1em auto;
    padding: 10px 0;
   
}


.contenedor_galery h2{
    color: #fff;
    margin: 10px 0;
  

}


.galery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}

.galery img{
    width: 100%;
   
}

.uno{
    grid-column: 1 / 7;
    
}

.dos{
    grid-column: 7 / 13;
  
}

.tres{
    grid-column: 1 / 5;
  
}

.cuatro{
    grid-column: 5 / 9;
    
}

.cinco{
    grid-column: 9 / 13;
    grid-row: 2 / 4;
    
}

.seis{   
    grid-column: 1 / 9;
}




/* Formulario*/

.formulario{
        
    width: 80%;
    margin: 50px auto;
    padding: 15px;
    color: #fff;

}

.formulario h2{
    margin: 10px 0;
}

input, textarea {

width: 100%;
padding: 12px 20px;
margin: 8px 0px; 
border: 1px solid #ccc;
border-radius: 10px;

}



.guardar {

    width: 100%;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 1s;
}

.guardar:hover{
background-color: #044906 ;
}

.cancelar {
    width: 100%;
    font-size: 16px;
    background-color: #fc9d9d;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 1s;
}

.cancelar:hover{
background-color: #fd5959;
}